@font-face {
    font-family: NumbersFont;
    src: url('./assets/fonts/ShareTechMono-Regular.ttf');
}
@font-face {
    font-family: ContraCur;
    src: url('./assets/fonts/ContraCur.ttf');
}
@font-face {
    font-family: ClearSans;
    src: url('./assets/fonts/ClearSans.ttf');
}
html{
    background: black;
}
body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background: black;
}