@font-face {
    font-family: NumbersFont;
    src: url('./assets/ShareTechMono-Regular.ttf');
}
html{
    background: black;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    background: black;
}